# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

DATABASE_URL="postgresql://postgres:password@localhost:5432/blitzed"
NEXTAUTH_URL="http://localhost:3000"
LEPTON_API_URL="https://api.tihlde.org"
ALLOWED_GROUP_SLUGS="index"
NEXTAUTH_SECRET="bruh"
