name: "CI - Build and push with reusable workflow (Production)"

on:
  push:
    branches: [main]
    paths:
      - ./**
      - .github/workflows/ci_prod.yml
  pull_request:
    branches: [main]
    paths:
      - ./**
      - .github/workflows/ci_prod.yml
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/_ci_ghcr.yml
    with:
      tag-prefix: ""
      push: ${{ github.event_name != 'pull_request' }}
